*{
    padding: 0;
    margin: 0;
}
    
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.main #input{
    height: 20px;
    width: 200px;
    padding: 5px;
    font-size: 16px;
    color: white;
    background-color: black;
}
#input:hover{
    background: grey;
    color: black;
    box-shadow: 0 0 20px purple;
    font-family: 'Gill Sans', 'Gill Sans MT';
    transition: all 0.3s ease-in;
}
button{
    height: 33px;
    width: 50px;
    margin-left: 20px;
}
button:hover{
    box-shadow: 0 0 20px purple;
    background-color: grey;
    font-weight: 500;
    transition: all 0.3s ease-in;
}